<div class="untree_co-section">
  <div class="container" style="margin-bottom: 100px;">
    <div class="row mb-5">
      <div class="col-md-6 mb-5 mb-md-0" style="margin: auto">
        <% if (successMessages.length > 0) { %>
          <div class="alert alert-success">
            <%= successMessages[0] %>
            <span style="float: right;">
              <a style="text-decoration: none;" href="/login">&#215;</a>
            </span>
          </div>
        <% } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0" style="margin: auto">
        <h2 class="h3 mb-3 text-black">Login</h2>
        <div class="p-3 p-lg-5 border bg-white">
          <form action="/login" method="post">
            <div class="form-group row">
              <div class="col-md-12">
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.email) { %>
                    <label class="text-black">
                      Email <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" style="border: 1px solid red;" type="text" name="email">
                    <span class="text-danger" style="font-size: 12px;"><%= error.email %></span>
                  <% } else { %>
                    <label class="text-black">
                      Email <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" name="email" value="<%= user.email %>">
                  <% } %>
                <% } else { %>
                  <label class="text-black">
                    Email <span class="text-danger">*</span>
                  </label>
                  <input class="form-control" type="text" name="email">
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.password) { %>
                    <label class="text-black">
                      Password <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" style="border: 1px solid red;" type="password" name="password">
                    <span class="text-danger" style="font-size: 12px;"><%= error.password %></span>
                  <% } else { %>
                    <label class="text-black">
                      Password <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="password" name="password" value="<%= user.password %>">
                  <% } %>
                <% } else { %>
                  <label class="text-black">
                    Password <span class="text-danger">*</span>
                  </label>
                  <input class="form-control" type="password" name="password">
                <% } %>
              </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
              <button class="btn btn-black btn-sm py-3 btn-block">Login</button>
              <button class="btn btn-black btn-sm py-3 btn-block" style="color: black; background-color: white; margin-left: 15px;"><a href="/send-request" style="text-decoration: none;">Forgot Password</a></button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>