<div class="untree_co-section">
  <div class="container" style="margin-bottom: 100px;">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0" style="margin: auto">
        <h2 class="h3 mb-3 text-black">Register</h2>
        <div class="p-3 p-lg-5 border bg-white">
          <form action="/register" method="POST">
            <div class="form-group row">
              <div class="col-md-12">
                <label class="text-black">Username <span class="text-danger">*</span></label>
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.name) { %>
                    <input class="form-control"type="text" name="name" style="border: 1px solid red;" >
                    <span class="text-danger" style="font-size: 12px;"><%= error.name %></span>
                  <% } else { %>
                    <input class="form-control" type="text" name="name" value="<%= user.name %>">
                  <% } %>
                <% } else { %>
                  <input class="form-control" type="text" name="name">
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="text-black">Email <span class="text-danger">*</span></label>
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.email) { %>
                    <input class="form-control" type="text" name="email" style="border: 1px solid red;">
                    <span class="text-danger" style="font-size: 12px;"><%= error.email %></span>
                  <% } else { %>
                    <input class="form-control" type="text" name="email" value="<%= user.email %>">
                  <% } %>
                <% } else { %>
                  <input class="form-control" type="text" name="email">
                <% } %>
              </div>

              <div class="col-md-6">
                <label class="text-black">Phone <span class="text-danger">*</span></label>
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.phone) { %>
                    <input class="form-control" type="text" name="phone" style="border: 1px solid red;">
                    <span class="text-danger" style="font-size: 12px;"><%= error.phone %></span>
                  <% } else { %>
                    <input class="form-control" type="text" name="phone" value="<%= user.phone %>">
                  <% } %>
                <% } else { %>
                  <input class="form-control" type="text" name="phone">
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label class="text-black">Address <span class="text-danger">*</span></label>
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.address) { %>
                    <input class="form-control" type="text" name="address" style="border: 1px solid red;">
                    <span class="text-danger" style="font-size: 12px;"><%= error.address %></span>
                  <% } else { %>
                    <label class="text-black">
                      Address <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" name="address" value="<%= user.address %>">
                  <% } %>
                <% } else { %>
                  <input class="form-control" type="text" name="address">
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label class="text-black">Password <span class="text-danger">*</span></label>
                <% if (typeof user !== 'undefined') { %>
                  <% if (typeof error !== 'undefined' && error.password) { %>
                    <input class="form-control" type="password" name="password" style="border: 1px solid red;">
                    <span class="text-danger" style="font-size: 12px;"><%= error.password %></span>
                  <% } else { %>
                    <input class="form-control" type="password" name="password" value="<%= user.password %>">
                  <% } %>
                <% } else { %>
                  <input class="form-control" type="password" name="password">
                <% } %>
              </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
              <button class="btn btn-black btn-sm py-3 btn-block" type="submit" value="Submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>